<!-- <h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p> -->

<form action="/answer" method="get">
  <input type="text" name="query" placeholder="">
  <input type="submit">
</form>

<%= @answer %>
